[Desktop Entry]
Type=Application
Name=Neomutt
GenericName=Email Client
Comment=Emails on the terminal
Exec=env LANG=en_US.UTF-8 neomutt
Icon=mutt
Terminal=true
