[Desktop Entry]
Type=Application
Name=Write Email
Comment=My mailto handler
Exec=write-email %u
Icon=mail_generic
Terminal=false
Categories=Network;Email;
MimeType=x-scheme-handler/mailto
