__pycache__

/git/gitk

/nvim/autoload/plug.vim*
/nvim/spell
/nvim/.netrwhist

/zsh/.*
!/zsh/.p10k.zsh
!/zsh/.zshrc
!/zsh/.zprofile

/polybar/scripts/owm-key

/neomutt/*.account
/neomutt/accounts.muttrc

/newsboat/ignores
/newsboat/urls

/gtk-?.0/*
!/gtk-?.0/settings.ini
